<div class="row">
  <div class="col-sm-12" ng-show="reloadingObject">
    <h3>Please wait..</h3>
    <p class="text-muted lead" ng-show="!!reloadingObject">Loading your schedule..</p>
  </div>
  <div class="col-sm-12" ng-hide="reloadingObject">

    <div class="row">
      <div class="col-sm-12" ng-hide="explaining">
        <label class="text-muted">Facebook Page Score:</label>&nbsp;<a href ng-click="explaining = true"><strong class="text-underline" ng-bind="currentObjectScore.result.score * 100 | percentage:2"></strong>
        <span class="glyphicon glyphicon-question-sign"></span></a>
      </div>
      <div class="col-sm-12" ng-show="explaining">
        <div class="well">
          <a href class="pull-right" ng-click="explaining = false">Hide Explanation</a>
          <score-visualizer score="currentObjectScore"></score-visualizer>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9" ng-if="!!loadError">
        <div class="text-danger">
          <h3>Load Error</h3>
          <p>{{loadError.message||loadError}}</p>
        </div>
      </div>

      <div class="col-sm-9 calendar-wrapper" ng-if="!loadError">

        <div class="margin-top">
          <button ng-click="calendar.week = calendar.week - 1" class="btn btn-lg btn-default pull-left"><span class="glyphicon glyphicon-chevron-left"></span></button>
          <button ng-click="calendar.week = calendar.week + 1" class="btn btn-lg btn-default pull-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>

        <h1 class="text-center calendar-header">
          <span ng-show="calendar.weekSpansMonths" class="month-name">{{calendar.dateRange.from | date:'MMM'}} - {{calendar.dateRange.to | date:'MMM'}}</span>
          <span ng-hide="calendar.weekSpansMonths" ng-bind="calendar.dateRange.from | date:'MMMM'" class="month-name"></span>
        </h1>

        <div class="clearfix"></div>

<!--         <div class="row">
          <div class="col-sm-12">
            <canvas id="weekLineChart" series="weekChartSeries" data="weekChartData" labels="weekChartLabels" height="50" class="chart chart-line"></canvas>
          </div>
        </div> -->

        <!-- <input type="range" min="1" max="53" step="1" ng-model="calendar.week" ng-model-options="modelOpts" class="margin-bottom"/> -->

        <div class="row-flex day-headers">
          <div class="flex-2 text-right">

            <div class="btn-group pull-left">
              <button class="btn btn-sm btn-default" ng-click="calendar.toToday()" ng-hide="calendar.isThisWeek" title="Go to this week."><span class="glyphicon glyphicon-calendar"></span></button>
              <button class="btn btn-sm btn-default" ng-click="reload(true)" ng-disabled="loader.loading" title="Refresh the data for current page."><span class="glyphicon glyphicon-refresh"></span></button>
            </div>

            <div>Week {{calendar.week}}</div><small class="text-info">{{calendar.year}}</small>
          </div>
          <div ng-repeat="item in weekDays" ng-class="headerClasses(item)" class="flex-1 day-header text-center">
            <div ng-bind="item.date.date|date:'dd'" class="day-date"></div>
            <div ng-bind="item.date.date|date:'EEE'" class="day-date-name visible-xs visible-sm"></div>
            <div ng-bind="item.date.date|date:'EEEE'" class="day-date-name visible-md visible-lg"></div>
          </div>
        </div>

        <div class="day-wrapper" ng-class="{'enable-heatmap': enableHeatMap}">
          <div ng-repeat="group in weekDays[0].day.groups">
            <h4 class="day-group" ng-bind="group.title"></h4>
            <div class="day-group-wrapper">
              <div ng-repeat="period in group.periods" class="row-flex flex-stretch">
                <div class="flex-2 day-cell-period">
                  <div ng-bind="period|timeRange:'h a':'h:mm a':' - '" class="inner-cell"></div>
                </div>
                <div ng-repeat="item in weekDays" ng-class="itemClasses(period.toDate(item.date.date))" class="flex-1 day-cell" ng-click="itemClick(period.toDate(item.date.date))"
                  tooltip-popup-delay="0"
                  tooltip-placement="right"
                  tooltip-animation="false"
                  tooltip-append-to-body="true"
                  tooltip-html-unsafe="{{data.queryDateRange(period.toDate(item.date.date))|dataEntryTooltip}}">
                  <div ng-bind-html="data.queryDateRange(period.toDate(item.date.date))|dataEntryCell:period.toDate(item.date.date)" class="inner-cell text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <label><input type="checkbox" ng-model="enableHeatMap"> Enable heat-map view.</label>

        <div class="overlay" ng-show="reloadingData">
          <div class="overlay-body">
            <div class="overlay-title">Please Wait</div>
            <div class="overlay-text">Loading your data..</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h3 class="helper text-muted-darker">Publishing in three easy steps:</h3>

        <ol class="helper text-muted">
          <li class="margin-bottom">Schedule a post to Facebook by tapping a blue box.</li>
          <li class="margin-bottom">Create <a ui-sref="app.meme">unique, branded images</a> for Facebook or other social networks.</li>
          <li class="margin-bottom">Read the top 500 <a ui-sref="app.dashboard.create-post(nowParams())">most engaging keywords</a> from your latest posts, daily.</li>
          <li>For more help, <a href="http://blog.hookupjs.com/faq-items/faq/" target="_blank">contact us</a> give us a call at <a href="tel://4088746176">408 874-6176</a> or <a href="http://blog.hookupjs.com/product-1/" target="_blank">read the product tour</a>.</li>
        </ol>

        <div class="scheduler-legend">
          <dl class="item item4">
            <dt>Time slot with posts</dt>
            <dd></dd>
          </dl>
          <dl class="item item5">
            <dt>Past time slot</dt>
            <dd></dd>
          </dl>
          <dl class="item item6">
            <dt>Available slot</dt>
            <dd></dd>
          </dl>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
</div>