<div ng-init="reset(true)">
  <a class="pull-right" ui-sref="app.account.groups"><span class="glyphicon glyphicon-share-alt"></span> <span class="visible-md-inline visible-lg-inline">Back to group list</span></a>
  <h2>Create new group</h2>
  <p class="text-muted" ng-hide="saving">Fill out the form below to create your new group.</p>

  <div class="well well-info" ng-show="saving">
    <em><span class="glyphicon glyphicon-time"></span> Please wait, saving your new group.</em>
  </div>

  <div class="well well-danger" ng-show="!loading && loadErr">
    <h2>Oh $#!7..</h2>
    <p>Something went wrong while loading dependent data, sorry 'bout that.. <pre>{{ loadErr | json }}</pre></p>
  </div>

  <div class="well well-danger" ng-show="!saving && saveErr">
    <h2>Darn'it..</h2>
    <p>Something went wrong while saving your group info, sorry 'bout that.. <pre>{{ saveErr | json }}</pre></p>
  </div>

  <form class="container-fluid form" name="newgroup" ng-submit="save()" ng-hide="loading||saving||loadErr">
    <div class="row">
      <dl class="col-sm-6 form-group">
        <dt><label>Group Name</label></dt>
        <dd><input class="form-control" type="TEXT" ng-model="group.name" placeholder="Company name, or domain name.." /></dd>
      </dl>

      <dl class="col-sm-6 form-group">
        <dt><label>Primary Domain</label></dt>
        <dd><input class="form-control" type="TEXT" ng-model="group.primaryDomain" placeholder="http://yourdomain.com/" /></dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>Description</label></dt>
        <dd><textarea class="form-control" type="TEXT" ng-model="group.description" placeholder="A short description for this group (optional)"></textarea></dd>
      </dl>
    </div>

    <div class="row">
      <div class="col-sm-12 form-group">
        <h3>Service Plan</h3>
        <p class="text-muted">Choose a plan that works just right for this group.</p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in servicePlans">
            <div class="badge badge-success pull-right" ng-show="item.baseCost > 0"><span ng-bind="item.baseCost | currency"></span> <em>monthly</em></div>
            <div class="badge badge-warning pull-right" ng-show="item.baseCost === 0"><em>FREE!</em></div>

            <h4 class="list-group-item-heading"><label><input type="radio" ng-model="group.servicePlan" name="serviceplan" value="{{item.id}}" /> <span ng-bind="item.name"></span></label></h4>
            <p class="list-group-item-text" ng-bind="item.description"></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" ng-show="!loading && isBillable()">
      <div class="col-sm-12 form-group">
        <h3>Billing Schedule</h3>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in billingSchedules">
            <div class="badge badge-success pull-right" ng-show="item.discount > 0"><span ng-bind="item.discount | percentage"></span> <em>savings</em></div>

            <h4 class="list-group-item-heading"><label><input type="radio" ng-model="group.billingSchedule" name="billingschedule" value="{{item.id}}" /> <span ng-bind="item.name"></span></label></h4>
            <p class="list-group-item-text" ng-bind="item.description"></p>
          </li>
        </ul>

      </div>
    </div>

    <div class="row" ng-show="!loading && isBillable()">
      <div class="col-sm-12">
        <h3>Billing Information</h3>
      </div>
    </div>

    <div class="row" ng-show="!loading && isBillable()">
      <dl class="form-group col-sm-6">
        <dt><label>Payment Method</label></dt>
        <dd><select class="form-control" ng-model="group.billingMethod.method" ng-options="o.id as o.name for o in billingMethods"></select></dd>
      </dl>

      <dl class="col-sm-6 form-group" ng-show="isBillableCC()">
        <dt><label>Credit Card Type</label></dt>
        <dd><select class="form-control" ng-model="group.billingMethod.detail.cardType" ng-options="o[0] as o[1] for o in billingMethods[0].options.types"></select></dd>
      </dl>

      <dl class="col-sm-6 form-group" ng-show="isBillablePaypal()">
        <dt><label>Paypal E-mail</label></dt>
        <dd><input type="TEXT" class="form-control" ng-model="group.billingMethod.detail.ppHolderEmail" /></dd>
      </dl>
    </div>

    <div class="row" ng-show="!loading && isBillable() && isBillableCC()">
      <dl class="col-sm-6 form-group" class="form-group">
        <dt><label>Card Number</label></dt>
        <dd><input type="TEXT" class="form-control" ng-model="group.billingMethod.detail.cardNumber" /></dd>
      </dl>

      <dl class="col-sm-6 form-group" ng-show="isBillableCC()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6">
              <label>Expiration Year</label>
              <select class=" form-control" ng-model="group.billingMethod.detail.cardExpireYear">
                <option ng-repeat="year in ccYears()" ng-bind="year"></option>
              </select>
            </div>
            <div class="col-xs-6">
              <label>Month</label>
              <select class="form-control" ng-model="group.billingMethod.detail.cardExpireMonth">
                <option ng-repeat="month in ccMonths()" ng-bind="month"></option>
              </select>
            </div>
          </div>
        </div>
      </dl>
    </div>

    <div class="row" ng-show="!loading && isBillable() && isBillableCC()">
      <dl class="col-sm-6 col-sm-offset-6 form-group" ng-show="isBillableCC()">
        <dt><label>Security Number</label></dt>
        <dd><input type="TEXT" class="form-control" ng-model="group.billingMethod.detail.cardCV" /></dd>
      </dl>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr />

        <button class="btn btn-lg btn-default" type="submit">Save Group</button>
        <button class="btn btn-lg btn-danger" type="button" ng-click="reset()">Reset</button>
      </div>
    </div>
  </form>
</div>