<div class="container">
  <div  class="row">
    <div class="col-sm-12">
        <div class="list-group">
            
    <div ng-repeat="keyword in keywords"  >
         <input type="text" class="form-control" placeholder="{{keyword.keyword}}" ng-model="keyw">
    </div>
</div>

 
  <form class="thing-form">
          <input type="text" class="form-control" placeholder="Add a new keyword here." ng-model="newKeyword">
            <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addKeyword()">Add New</button>
      </span>
        </form>
      
    </div>
 
  </div>
  <hr>
</div>