<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <div  ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

<ul>
  <li ng-repeat="x in names">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>
    <div ng-repeat="keyword in keywords"  class="list-group-item">
        <p>{{keyword}}</p>
    </div>
</div>

 <form class="keyword-form" ng-submit="addKeyword(form)">
          <input type="text" class="form-control" placeholder="Add a new keyword here." ng-model="newKeyword">
            <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Add New</button>
      </span>
        </form>
      
    </div>
 
  </div>
  <hr>
</div>