<div class="scheduler">
  <div ng-if="datasource.loading" class="scheduler-loader">
    <p class="loader-text"><span class="glyphicon glyphicon-refresh"></span> Please wait, loading ..</p>
  </div>
  <div class="row" ng-hide="datasource.fullLoading">
    <div class="col-desc">&nbsp;</div>
    <div class="col-fill" ng-switch="calendar.dateRange.from.getMonth() !== calendar.dateRange.to.getMonth()">
      <h2 class="text-center" ng-switch-when="true">{{calendar.dateRange.from | date:'MMM'}} - {{calendar.dateRange.to | date:'MMMM'}}</h2>
      <h2 class="text-center" ng-switch-when="false">{{calendar.dateRange.from | date:'MMMM'}}</h2>
    </div>
  </div>
  <div class="row scheduler-heading" ng-hide="datasource.fullLoading">
    <div class="col-desc text-right">
      <div class="pad-right"><span class="text-muted">Week {{calendar.week}}</span>
        <div class="text-primary">{{calendar.year}}</div>
      </div>
    </div>
    <div ng-repeat="day in calendar.weekGrid" ng-class="{'current': calendar.isSameDay(day.dayStart)}" class="col-day"><span class="date">{{day.dayStart | date:'dd'}}</span><span class="day">{{day.dayStart | date:'EEE'}}</span></div>
  </div>

  <div ng-repeat="segmented in calendar.segmentedGrid" class="scheduler-period row">
    <!-- <h4 ng-bind="segment.group" class="scheduler-period-heading"></h4> -->
    <!-- <div ng-repeat="period in day.periods" class="row"></div> -->
    <div class="col-desc" ng-bind="segmented.segment | schedulerPeriod"></div>
    <div class="col-day" ng-repeat="day in segmented.days" ng-class="doItemClasses(day.segment, day.start, day.data)" ng-click="doItemClick(day.segment, day.start, day.data)">
      <span ng-bind-html="day.data | schedulerRecordLabel:day.segment:day.start"></span>
    </div>
  </div>

  <!-- <pre ng-bind="calendar.segmentedGrid|json"></pre> -->
</div>