$scheduler-breakpoint-sm: 480px;

.scheduler {
  position: relative;
  padding: 0;

  .scheduler-loader {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(#fff, 0.8);
    z-index: 100;

    .loader-text {
      background-color: #fff;
      display: block;
      position: absolute;
      width: 60%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -30%;
      border-radius: 10px;
      border: 1px solid #ddd;
      box-shadow: 0 0 25px rgba(#000, 0.15);
    }
  }

  .scheduler-heading {
  }
  .scheduler-period {
  }
  .row {
    margin: 0;
  }
  .col-desc,
  .col-fill,
  .col-day  {
    box-sizing: border-box;
    float: left;
  }
  .col-desc {
    width: 30%;
  }
  .col-fill {
    width: 70%;
  }
  .col-day {
    width: 10%;
    text-align: center;
  }
}

.scheduler-heading {
  .col-day {
    @include transform(rotate(-45deg));

    &.current {
      background-color: #ccc;
      color: #111;
    }

    .date {
      display: none;
    }

    @media (min-width: $scheduler-breakpoint-sm) {
      @include transform(rotate(0));

      &.current {
        border-radius: 5px;
      }

      .date {
        display: block;
        font-size: 25px;
      }
    }
  }
}

$color-bg-negative: #D3D3D3;
$color-fg-negative: #9C9C9C;
$color-bg-negative-today: darken($color-bg-negative, 10%);
$color-fg-negative-today: darken($color-fg-negative, 10%);


$color-bg-neutral: #C9E8FF;
//$color-fg-neutral: #2B628C;
$color-fg-neutral: #ACD4F2;
$color-bg-neutral-today: darken($color-bg-neutral, 10%);
$color-fg-neutral-today: darken($color-fg-neutral, 20%);

$color-bg-positive: #CFFFC2;
$color-fg-positive: #187200;
$color-bg-positive-today: darken($color-bg-positive, 10%);
$color-fg-positive-today: $color-fg-positive;

$color-bg-disabled: #ddd;
$color-fg-disabled: #777;
$color-bg-disabled-today: darken($color-bg-disabled, 10%);
$color-fg-disabled-today: $color-fg-disabled;

$color-bg-current: #2695D1;
$color-fg-current: #FFFFFF;
$color-current-darken: 10%;

.scheduler-period {
  $border-width: 2px;

  margin-bottom: 10px;

  .scheduler-period-heading {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    font-style: italic;
  }

  .col-desc,
  .col-day  {
    line-height: 35px;
  }

  .col-desc {
    font-size: 10px;

    @media (min-width: $scheduler-breakpoint-sm) {
      font-size: 1em;
    }
  }
  .col-day {
    border: $border-width solid #fff;
    border-width: $border-width 0 0 $border-width;
    cursor: pointer;

    &.negative {
      background-color: $color-bg-negative;
      color:            $color-fg-negative;
    }
    &.neutral {
      background-color: $color-bg-neutral;
      color:            $color-fg-neutral;
    }
    &.positive {
      background-color: $color-bg-positive;
      color:            $color-fg-positive;
    }
    &.disabled {
      background-color: $color-bg-disabled;
      color:            $color-fg-disabled;
      cursor: default;
    }

    &.current {
      background-color:   $color-bg-current;
      color:              $color-fg-current;

      &.negative {
        background-color: $color-bg-negative-today;
        color:            $color-fg-negative-today;
      }
      &.neutral {
        background-color: $color-bg-neutral-today;
        color:            $color-fg-neutral-today;
      }
      &.positive {
        background-color: $color-bg-positive-today;
        color:            $color-fg-positive-today;
      }
      &.disabled {
        background-color: $color-bg-disabled-today;
        color:            $color-fg-disabled-today;
      }
    }
  }

  .row {
    .col-day:last-child {
      border-width: $border-width $border-width 0 $border-width;
    }
    &:last-child {
      .col-day {
        border-width: $border-width 0 $border-width $border-width;

        &:last-child {
          border-width: $border-width;
        }
      }
    }
  }
}

.scheduler-legend {
  .item {
    font-size: 0.8em;

    dt, dd {
      box-sizing: border-box;
      float: left;
      display: block;
    }

    dt {
      width: 80%;
      text-align: right;
      padding-right: 3px;
    }
    dd {
      width: 20%;
      height: 1em;
      outline: 1px solid black;
    }
  }

  .item1 {
    dd {
      background-color: $color-bg-negative;
    }
  }
  .item2 {
    dd {
      background-color: $color-bg-negative-today;
    }
  }
  .item3 {
    dd {
      background-color: $color-bg-current;
    }
  }
  .item4 {
    dd {
      background-color: $color-bg-positive;
    }
  }
  .item5 {
    dd {
      background-color: $color-bg-neutral-today;
    }
  }
  .item6 {
    dd {
      background-color: $color-bg-neutral;
    }
  }
}