<div ng-init="reload()">
  <div class="well well-info" ng-show="loading">
    <em><span class="glyphicon glyphicon-time"></span> Please wait, loading available groups.</em>
  </div>

  <div class="well well-warning" ng-show="!loading && !groups.length">
    <a ui-sref="app.account.groups.create" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add a new group</a>
    <em><span class="glyphicon glyphicon-info-sign"></span> You are currently not subscribed to any groups.</em>
    <div class="clearfix"></div>
  </div>

  <div class="well well-danger" ng-show="!loading && loadErr">
    <h2>Oh $#!7..</h2>
    <p>Something went wrong, sorry 'bout that.. <pre>{{ loadErr | json }}</pre></p>
  </div>

  <div ng-show="!loading && groups.length">

    <ul class="nav nav-pills pull-right">
      <li><a title="Reload the current screen" ng-click="reload()" href><span class="glyphicon glyphicon-refresh"></span> Reload</a></li>
    </ul>

    <h2>My Groups</h2>

    <div class="list-group">
      <div class="list-group-item" dir-paginate="group in groups | itemsPerPage: perPage">
        <ul class="nav nav-pills pull-right">
          <li ng-if="canEdit(group.role)"><a title="Edit {{group.name}}" ui-sref="app.account.groups.update({id: group._id})"><span class="glyphicon glyphicon-pencil"></span></a></li>
          <li ng-if="canEdit(group.role)"><a title="Service configuration for {{group.name}}" ui-sref="app.account.groups.servicecfg({id: group._id})"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li><a title="View stats for {{group.name}}" ui-sref="app.account.groups.stats({id: group._id})"><span class="glyphicon glyphicon-stats"></span></a></li>
          <li><a title="Members in {{group.name}}" ui-sref="app.account.groups.members({id: group._id})"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>

        <h4 class="list-group-item-header" ng-bind="group.name"></h4>
        <p class="list-group-item-body" ng-bind="group.description"></p>
        <div class="clearfix"></div>
      </div>
    </div>

    <site-paginator
      total-items="groups.length"
      items-per-page="perPage"
      page-sizes="pageSizes"></site-paginator>
  </div>
</div>