<div ng-init="reload()">
  <a class="pull-right" ui-sref="app.account.groups"><span class="glyphicon glyphicon-share-alt"></span> <span class="visible-md-inline visible-lg-inline">Back to group list</span></a>

  <h2>Group Members <small><i class="fa fa-users"></i> {{group.name}}</small></h2>
  <p class="text-muted">Member management for this group.</p>

  <h3>Invite Team Members</h3>
  <form class="form" name="invitemember" ng-submit="inviteMembers()" novalidate>

    <div ng-repeat="item in tempInvites">
      <div class="row" ng-if="$first">
        <label class="col-sm-4">Member Name</label>
        <label class="col-sm-5">E-mail</label>
        <label class="col-sm-3">Role</label>
      </div>

      <div class="row dl-margin-bottom-sm" ng-if="!$last">
        <div class="col-sm-4">
          <span class="text-success" ng-bind="item.name"></span>
        </div>
        <div class="col-sm-5">
          <span class="text-success" ng-bind="item.email"></span>
        </div>
        <div class="col-sm-2">
          <span class="text-success" ng-bind="item.role"></span>
        </div>
        <div class="col-sm-1 text-right">
          <a href class="btn btn-danger btn-sm" ng-click="tempInvites.splice($index, 1)"><span class="sr-only">Remove Member</span> <span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>

      <div class="row dl-margin-bottom-sm" ng-if="$last">
        <dl class="col-sm-4">
          <input type="TEXT" required class="form-control" placeholder="Name of team member" ng-model="item.name" />
        </dl>
        <dl class="col-sm-5">
          <input type="TEXT" required class="form-control" placeholder="E-mail address of team member" ng-model="item.email" />
        </dl>
        <dl class="col-sm-3">
          <select class="form-control" required ng-options="role[0] as role[1] for role in allRoles" ng-model="item.role"></select>
        </dl>
      </div>

      <div class="row" ng-if="$last">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="tempInvites.push({})" ng-disabled="invitemember.$invalid"><span>Add Another Member</span> <span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr />

        <button class="btn btn-default btn-lg" type="submit" ng-disabled="invitemember.$invalid && tempInvites.length===1">Send Invites</button>
        <button class="btn btn-danger btn-lg" ng-click="resetInvitations()" ng-disabled="invitemember.$invalid && tempInvites.length===1">Reset</button>
      </div>
    </div>
  </form>

  <h3>Temporary Invites</h3>
  <p class="text-muted">Invitations that we will send out.</p>
  <pre ng-bind="tempInvites|json"></pre>

  <h3>Current Group</h3>
  <p class="text-muted">Below is basic information about the current group.</p>
  <pre ng-bind="group|json"></pre>

  <h3>Existing Members</h3>
  <p class="text-muted">Below is a list of users that are affiliated with this group.</p>
  <pre ng-bind="members|json"></pre>
</div>