<div ng-init="reload()">
  <a class="pull-right" ui-sref="app.account.groups"><span class="glyphicon glyphicon-share-alt"></span> <span class="visible-md-inline visible-lg-inline">Back to group list</span></a>

  <h2>Group Members <small><i class="fa fa-users"></i> {{group.name}}</small></h2>
  <p class="text-muted">Member management for this group.</p>

  <h3>Existing Members</h3>
  <p class="text-muted">Below is a list of users that are affiliated with this group.</p>

  <div class="well well-info" ng-if="loading">
    <em><span class="glyphicon glyphicon-time"></span> Please wait, loading group memberships..</em>
  </div>

  <error-display
    error-title="'Load Error'"
    error-message="'Problem while loading group memberships..'"
    error-detail="loadError"
    ng-if="!loading && loadError"
  ></error-display>

  <div ng-if="!loading">
      <div class="row">
        <label class="col-sm-8">Member Name</label>
        <label class="col-sm-4">Role</label>
      </div>
    <div ng-repeat="member in members">
      <div class="row dl-margin-bottom-sm">
        <div class="col-sm-8">
          <span ng-bind="member.user.name"></span>
        </div>
        <div class="col-sm-2" ng-bind="member.relationship"></div>
        <div class="col-sm-2 text-right">
          <a href class="btn btn-danger btn-sm" ng-click="removeMember(member)"><span class="sr-only">Remove Member</span> <span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h3>Invite New Team Members</h3>

  <div class="well well-info" ng-if="inviting">
    <em><span class="glyphicon glyphicon-time"></span> Please wait, sending your invitations..</em>
  </div>

  <error-display
    error-title="'Invitations Error'"
    error-message="'Problem while sending invites..'"
    error-detail="inviteError"
    ng-if="!inviting && inviteError"
  ></error-display>

  <form class="form" name="invitemember" ng-submit="inviteMembers(invitemember)" novalidate ng-if="!inviting">

    <div ng-repeat="item in invites">
      <div class="row" ng-if="$first">
        <label class="col-sm-4">Member Name</label>
        <label class="col-sm-4">E-mail</label>
        <label class="col-sm-4">Role</label>
      </div>

      <div class="row dl-margin-bottom-sm" ng-if="!$last">
        <div class="col-sm-4">
          <span class="glyphicon" ng-class="{'glyphicon-check': item.sent, 'glyphicon-send': !item.sent}"></span>
          <span ng-bind="item.name"></span>
        </div>
        <div class="col-sm-4">
          <span ng-bind="item.email"></span>
        </div>
        <div class="col-sm-2">
          <span ng-bind="item.relationship"></span>
        </div>
        <div class="col-sm-2 text-right">
          <a href class="btn btn-danger btn-sm" ng-click="cancelInvitation(item)"><span class="sr-only">Remove Member</span> <span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>

      <div class="row dl-margin-bottom-sm" ng-if="$last">
        <dl class="col-sm-4">
          <input type="TEXT" required class="form-control" placeholder="Name of team member" ng-model="item.name" />
        </dl>
        <dl class="col-sm-4">
          <input type="EMAIL" required class="form-control" placeholder="E-mail address of team member" ng-model="item.email" />
        </dl>
        <dl class="col-sm-4">
          <select class="form-control" required ng-options="role[0] as role[1] for role in allRoles" ng-model="item.relationship"></select>
        </dl>
      </div>

      <div class="row" ng-if="$last">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="invites.push({})" ng-disabled="invitemember.$invalid"><span>Add Another Member</span> <span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr />

        <button class="btn btn-default btn-lg" type="submit" ng-disabled="invitemember.$invalid && invites.length===1"><span class="glyphicon glyphicon-send"></span> Send Invites</button>
        <button class="btn btn-danger btn-lg" type="button" ng-click="reload()" ng-disabled="invitemember.$invalid && invites.length===1">Reset</button>
      </div>
    </div>
  </form>
</div>