<div class="container">
  <div class="row">

    <div ng-if="!fbIsReady() || (fbIsActive() && fbHasRequiredPerms() && !user)">
      <h2>Please wait..</h2>
      <p class="lead" ng-if="!fbIsReady()">Checking your connection with Facebook..</p>
      <p class="lead" ng-if="fbIsReady() && !user">Loading your HookupJS account..</p>
    </div>

    <div ng-if="fbIsReady()">

      <div ng-if="fbIsActive() && fbHasRequiredPerms() && !!user">

        <p ng-if="!fbHasAllPerms()">You're currently restricting some of the optional permissions we use. This could impact functionality. <a href ng-click="fbReAuthorize()">Click here to fix this message.</a></p>

        <div ng-if="!!setup" ng-switch="setup.step">

          <div ng-if="setup.step < 3">
            <h2>Hello {{user.name}}!</h2>
            <p>You're almost there, we just need a little more information to finish setting up your account.</p>
          </div>

          <error-display
            error-title="formError.statusText||'Load Error'"
            error-message="formError.data.message||'Problem while loading..'"
            error-detail="formError"
            ng-if="formError"
          ></error-display>

          <div ng-switch-when="1">

            <div ng-if="form.loading">
              <h3>Loading Facebook Pages</h3>
              <p class="text-muted">Please wait, loading your available Facebook pages.</p>
            </div>

            <div ng-if="!form.loading">
              <div class="text-danger" ng-if="!form.hasObjects">
                <h3>No Facebook objects found</h3>
                <p>It seems like there are no pages associated with this Facebook account! In order to get the most out of HookupJS you need at least one Facebook Page. Go ahead and create one, and then come back!</p>
              </div>

              <div ng-if="form.hasObjects">
                <h4>Click the page you wish to delegate</h4>

                <div class="list-group">
                  <a class="list-group-item" href ng-repeat="item in form.facebookObjects.data" ng-click="setupFacebookObject(item)">
                    <div class="badge badge-default pull-right"><span>{{objectLikes(item) | number}} likes</span></div>
                    <h4 class="list-group-item-heading" ng-bind="item.name"></h4>
                    <p class="list-group-item-text text-muted" ng-bind="item.category"></p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div ng-switch-when="2">

            <div ng-if="form.loading">
              <h3>Loading Your Data</h3>
              <p class="text-muted">Please wait, loading your available Facebook data for your page.</p>
            </div>

            <div ng-if="!form.loading">

              <div class="well well-primary">

                <h3 class="well-title">Selected Facebook Page <a class="badge well-badge" href ng-click="changeFacebookObject()"><span class="glyphicon glyphicon-pencil"></span> Switch</a></h3>
                <p class="text-muted">This is page you are currently delegating.</p>

                <div class="pull-right">
                  <a class="btn btn-success" ng-click="form.showDetail = !form.showDetail" ng-class="{'active': form.showDetail}"><span class="glyphicon glyphicon-plus" ng-class="{'glyphicon-minus': form.showDetail}"></span> Details</a>
                </div>
                <h2><a class="well-link" href="{{form.page.link}}" target="_blank" ng-bind="form.page.name"></a> <small ng-if="form.page.likes > 0"><span>{{form.page.likes | number}} likes</span> <em ng-if="form.page.new_like_count > 0">(+{{form.page.new_like_count | number}} new)</em></small></h2>

                <div ng-if="form.showDetail">
                  <div ng-if="form.page.about"><label class="text-muted">About</label><p ng-bind="form.page.about"></p></div>
                  <div ng-if="form.page.description"><label class="text-muted">Description</label><p ng-bind="form.page.description"></p></div>
                  <div ng-if="form.page.website"><label class="text-muted">Website:</label> <a class="well-link" href="{{form.page.website}}" ng-bind="form.page.website" target="_blank"></a></div>
                </div>
              </div>

              <h3>Choose a password for HookupJS</h3>
              <p>This is the password you will use to access HookupJS. This is to protect your account from misuse.</p>

              <form class="form" name="passwordForm" novalidate ng-submit="setupPassword(passwordForm)">

                <dl class="form-group">
                  <dt>Password</dt>
                  <dd><input type="PASSWORD" class="form-control" name="password" required ng-minlength="6" ng-model="form.password" /><p class="text-danger" ng-if="passwordForm.password.$error.minlength">Password must be longer than 5 characters.</p></dd>
                </dl>

                <dl class="form-group">
                  <dt>Confirm Password</dt>
                  <dd><input type="PASSWORD" class="form-control" name="confirmPassword" required ng-model="form.confirmPassword" must-match="form.password" /><p class="text-danger" ng-if="passwordForm.confirmPassword.$error.matches">The passwords you supplied do not match</p></dd>
                </dl>

                <div class="form-group text-right">
                  <button class="btn btn-lg btn-primary" type="SUBMIT" ng-disabled="passwordForm.$invalid">Set Password</button>
                </div>
              </form>
            </div>

          </div>

          <div ng-switch-when="3" class="text-center">
            <div ng-switch="form.scoreRes.status">
              <div ng-switch-when="pending">
                <h3>Pending Score</h3>
                <p class="text-muted">Please wait, we are experiencing a high load of requests, we'll score your page soon.</p>
              </div>
              <div ng-switch-when="running">
                <h3>Scoring "{{form.scoreRes.page.name}}"..</h3>
                <p class="text-muted">Please wait, we are downloading information about your page and stats.</p>

                <div ng-if="form.loading">
                  <h4>checking status..</h4>
                </div>

                <div ng-if="!form.loading">
                  <h4>Estimated time remaining:</h4>
                  <div fancy-countdown="form.clock"></div>
                </div>
              </div>
              <div ng-switch-when="complete">
                <h2>Congratulations {{user.name}}!</h2>

                <p>We finished scoring your page "{{form.scoreRes.page.name}}" with a score of {{form.scoreRes.result.score * 100 | percentage:3}}.</p>

                <pre class="text-left" ng-bind="form.scoreRes.result.explained | json"></pre>

                <p>You now have your account setup on HookupJS, click finish and let's get started!</p>
                <button type="button" class="btn btn-primary btn-lg" ng-click="setupFinalize()">Finish</button>
              </div>
              <div ng-switch-when="error">
                <h3>Score Error</h3>
                <p class="text-error">Whoa, something happened while scoring your page.</p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="!setup" class="text-center">
          <h2>You're all set up!</h2>
          <p class="lead">Your account is all ready to get started. To access your amazing dashboard, click the button below!</p>

          <a class="btn btn-primary btn-lg" ui-sref="app.dashboard">Amazing Dashboard</a>
        </div>
      </div>

      <div ng-if="fbIsNoAuth() || !fbHasRequiredPerms()" ng-controller="GetStartedNoAuthCtrl">
        <h2>Terms of service headline text</h2>
        <p class="lead">Here can go some text preceeding the terms of service.</p>

        <p>A brief description of what is about to happen once we start this process can go here in this spot.</p>

        <button class="btn btn-lg btn-primary" ng-click="fbLogin()" ng-disabled="!form.agreesWithTerms" ng-class="{'btn-danger': !form.agreesWithTerms}">Let's go!</button>
        <div class="clearfix"></div>

        <h3>Terms of Service Document</h3>

        <div class="well terms-and-conditions">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus nunc, lobortis pharetra pellentesque molestie, blandit eget velit. Nullam posuere nulla vel enim bibendum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ipsum risus. Sed ultricies euismod ligula a convallis. Quisque ut mi a magna volutpat aliquam sit amet venenatis est. Donec sit amet ante a ante tempus tempor eget ac odio. Praesent ullamcorper pretium neque vel maximus. In non eros non elit malesuada pharetra sed ac justo. Ut a eleifend quam, at viverra justo. Nam quis dui vitae metus pharetra facilisis. Aenean velit ipsum, commodo a lectus ac, lobortis molestie felis.</p>

          <p>Aliquam sed sollicitudin orci. Praesent eget rutrum quam. Morbi vitae aliquam augue. Proin et hendrerit est, rhoncus fermentum ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla ex commodo, cursus elit quis, faucibus turpis. Etiam sit amet augue enim. Vivamus et porta enim, a sollicitudin nibh. Nunc eu leo justo. Morbi at lorem ullamcorper, tempus quam et, elementum ante. Praesent congue consectetur dignissim. Donec imperdiet ex ut mattis sollicitudin. Mauris eu lacinia diam.</p>

          <p>Phasellus ultricies urna nisi, ultricies interdum turpis tristique a. Mauris turpis justo, viverra in metus vitae, interdum lobortis purus. Donec ut velit commodo, efficitur ligula consectetur, vestibulum mi. Donec ac enim efficitur orci vulputate molestie. Nam quis augue sollicitudin, rhoncus enim eget, sollicitudin augue. Aliquam sed eros augue. Fusce quis lectus quis velit sodales dignissim. Cras eget egestas lorem. Ut vitae orci consectetur, pharetra mi eu, malesuada nibh. Nunc tincidunt ex eu quam luctus porta. Aliquam tempor fermentum nisi ac pulvinar. Morbi id mollis justo, vitae aliquet sapien. Phasellus id mollis arcu. Nam vulputate quis massa a mattis.</p>

          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur posuere arcu non felis condimentum, vitae dapibus ligula ullamcorper. Aenean lobortis ex eu quam elementum, non interdum ex ultricies. Ut non eros tristique, egestas arcu blandit, sodales sapien. Duis nec velit a risus sollicitudin facilisis. Cras a dui consequat, ullamcorper tortor a, lobortis justo. Morbi vestibulum justo id sem ultricies vestibulum. Nullam vitae commodo augue, ut feugiat dui.</p>
        </div>

        <div class="container-fluid">
          <div class="row">
            <label><input type="checkbox" ng-model="form.agreesWithTerms" /> <span>I agree with the above terms and conditions.</span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
