$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$badge-border-radius: 3px;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables';
@import 'bourbon/dist/bourbon';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide configurations
 */

$well-default-border:             $well-border;
$well-default-bg:                 $well-bg;
$well-default-text:               $text-color;
$well-default-link:               #428BCA;
$well-default-hover-link:         #164773;
$well-default-badge-bg:           $btn-primary-bg;
$well-default-badge-fg:           #fff;
$well-default-badge-hover-bg:     $text-color;
$well-default-badge-hover-fg:     $well-bg;

$well-primary-border:         $btn-primary-border;
$well-primary-bg:             $btn-primary-bg;
$well-primary-text:           $btn-primary-color;
$well-primary-link:           #092742;
$well-primary-hover-link:     #021526;
$well-success-border:         $btn-success-border;
$well-success-bg:             $btn-success-bg;
$well-success-text:           $btn-success-color;
$well-success-link:           #195C19;
$well-success-hover-link:     #083D08;
$well-info-border:            $btn-info-border;
$well-info-bg:                $btn-info-bg;
$well-info-text:              $btn-info-color;
$well-info-link:              #1F6378;
$well-info-hover-link:        #063847;
$well-warning-border:         $btn-warning-border;
$well-warning-bg:             $btn-warning-bg;
$well-warning-text:           $btn-warning-color;
$well-warning-link:           #694615;
$well-warning-hover-link:     #4A2F0A;
$well-danger-border:          $btn-danger-border;
$well-danger-bg:              $btn-danger-bg;
$well-danger-text:            $btn-danger-color;
$well-danger-link:            #590A07;
$well-danger-hover-link:      #380402;

$badge-default-bg:     $well-default-link;
$badge-default-text:   $well-default-badge-fg;
$badge-default-border: $badge-border-radius;
$badge-primary-bg:     $well-primary-link;
$badge-primary-text:   $btn-primary-color;
$badge-primary-border: $badge-border-radius;
$badge-success-bg:     $well-success-link;
$badge-success-text:   $btn-success-color;
$badge-success-border: $badge-border-radius;
$badge-info-bg:        $well-info-link;
$badge-info-text:      $btn-info-color;
$badge-info-border:    $badge-border-radius;
$badge-warning-bg:     $well-warning-link;
$badge-warning-text:   $btn-warning-color;
$badge-warning-border: $badge-border-radius;
$badge-danger-bg:      $well-danger-link;
$badge-danger-text:    $btn-danger-color;
$badge-danger-border:  $badge-border-radius;

$fb-blue:       #3b5998;
$fb-blue-light: lighten($fb-blue, 10%);
$fb-blue-dark:  darken($fb-blue, 15%);
$fb-white:      #F7FAFF;
$fb-width:      35px;
$fb-width-lg:   $fb-width + 8px;
$fb-width-sm:   $fb-width - 8px;
$fb-logo-url:   url(/assets/images/facebook-logo.svg);

/**
 * App-wide styles
 */

@mixin badge-variant(
  $bg-color: $badge-bg-color,
  $text-color: $badge-text-color,
  $border-radius: $badge-border-radius
) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
}

@mixin well-variant(
  $well-bg-color,
  $well-border-color,
  $well-text-color,
  $well-link-color,
  $well-link-hover-color: false,
  $badge-bg: false,
  $badge-fg: false,
  $badge-hover-bg: false,
  $badge-hover-fg: false
) {
  background-color: $well-bg-color;
  border-color: $well-border-color;
  color: $well-text-color;

  a.well-link {
    color: $well-link-color;

    @if $well-link-hover-color {
      &:hover {
        color: $well-link-hover-color;
      }
    }
  }

  @if $badge-bg == false {
    $badge-bg: $well-link-color;
  }
  @if $badge-fg == false {
    $badge-fg: $well-text-color;
  }
  @if $badge-hover-bg == false {
    $badge-hover-bg: $well-text-color;
  }
  @if $badge-hover-fg == false {
    $badge-hover-fg: $well-link-hover-color;
  }

  h1 small, h2 small, h3 small, h4 small, h5 small,
  .text-muted {
    color: rgba($well-text-color, 0.7);
  }

  .badge.well-badge {
    @include badge-variant( $badge-bg, $badge-fg );
  }

  a.badge.well-badge {
    @include badge-variant( $badge-bg, $badge-fg );

    &:hover {
      @include badge-variant(
        $badge-hover-bg,
        $badge-hover-fg
      );
    }
  }
}

.well {
  &.well-default {
    @include well-variant(
      $well-default-bg,
      $well-default-border,
      $well-default-text,
      $well-default-link,
      $well-default-hover-link,
      $well-default-badge-bg,
      $well-default-badge-fg,
      $well-default-badge-hover-bg,
      $well-default-badge-hover-fg
    );
  }
  &.well-primary {
    @include well-variant(
      $well-primary-bg,
      $well-primary-border,
      $well-primary-text,
      $well-primary-link,
      $well-primary-hover-link
    );
  }
  &.well-success {
    @include well-variant(
      $well-success-bg,
      $well-success-border,
      $well-success-text,
      $well-success-link,
      $well-success-hover-link
    );
  }
  &.well-info {
    @include well-variant(
      $well-info-bg,
      $well-info-border,
      $well-info-text,
      $well-info-link,
      $well-info-hover-link
    );
  }
  &.well-warning {
    @include well-variant(
      $well-warning-bg,
      $well-warning-border,
      $well-warning-text,
      $well-warning-link,
      $well-warning-hover-link
    );
  }
  &.well-danger {
    @include well-variant(
      $well-danger-bg,
      $well-danger-border,
      $well-danger-text,
      $well-danger-link,
      $well-danger-hover-link
    );
  }

  .well-title {
    margin: 0;
  }
}

.badge {
  &.badge-default {
    @include badge-variant(
      $badge-default-bg,
      $badge-default-text
    );
  }
  &.badge-primary {
    @include badge-variant(
      $badge-primary-bg,
      $badge-primary-text
    );
  }
  &.badge-success {
    @include badge-variant(
      $badge-success-bg,
      $badge-success-text
    );
  }
  &.badge-info {
    @include badge-variant(
      $badge-info-bg,
      $badge-info-text
    );
  }
  &.badge-warning {
    @include badge-variant(
      $badge-warning-bg,
      $badge-warning-text
    );
  }
  &.badge-danger {
    @include badge-variant(
      $badge-danger-bg,
      $badge-danger-text
    );
  }
}

.text-muted-darker {
  color: #777;
}

.text-underline {
  text-decoration: underline;
}

$margin-size: 15px;

.margin-top {
  margin-top: $margin-size;
}

.margin-left {
  margin-left: $margin-size;
}

.margin-right {
  margin-right: $margin-size;
}

.margin-bottom {
  margin-bottom: $margin-size;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.btn.btn-facebook {
  position: relative;
  color: $fb-white;
  text-indent: $fb-width;
  border-color: $fb-blue-dark;
  background-color: $fb-blue-light;
  background-image: linear-gradient(to bottom,
    transparent 0%,
    $fb-blue 65%,
    $fb-blue-dark 100%
  );

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: $fb-width;
    left: 0; top: 0;  bottom: 0;
    border-right: 1px solid rgba($fb-blue-light, 0.6);
    background-color: $fb-blue-dark;
    background-image: $fb-logo-url;
    background-size: auto 75%;
    background-position: 65% bottom;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $fb-blue-dark;
    background-image: linear-gradient(to bottom,
      $fb-blue-light 0%,
      $fb-blue 50%,
      transparent 100%
    );
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.btn-lg {
    text-indent: $fb-width-lg;

    &:before {
      width: $fb-width-lg;
    }
  }
  &.btn-sm {
    text-indent: $fb-width-sm;

    &:before {
      width: $fb-width-sm;
    }
  }
}

textarea.fill {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.modal-content {
  .modal-body {
    dl {
      margin: 0;
    }
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.tab-body > .container-fluid {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  padding: 15px;
  min-width: 320px;
}

.tab-body .pagination {
  margin: 0;
}

.dl-margin-bottom-sm {
  .col-sm-1,  .col-xs-1,
  .col-sm-2,  .col-xs-2,
  .col-sm-3,  .col-xs-3,
  .col-sm-4,  .col-xs-4,
  .col-sm-5,  .col-xs-5,
  .col-sm-6,  .col-xs-6,
  .col-sm-7,  .col-xs-7,
  .col-sm-8,  .col-xs-8,
  .col-sm-9,  .col-xs-9,
  .col-sm-10, .col-xs-10,
  .col-sm-11, .col-xs-11,
  .col-sm-12, .col-xs-12 {
    margin-bottom: 5px;
  }
}

.nav-tabs {

  &.nav-tabs-left {
    border: none;

    li {
      float: none;
      margin-bottom: 0;
      margin-right: -1px;

      & > a {
        margin-right: 0;
        margin-bottom: 2px;
        border-radius: 5px;

        &:hover {
          border-color: transparent;
        }
      }
    }

    li.active > a,
    li.active > a:focus,
    li.active > a:hover {
      border-color: #ddd;
      background-color: rgba(#dddddd, 0.1);
    }
  }

  &.nav-tabs-left {
    vertical-align: top;
  }
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

// Component styles are injected through grunt
// injector
@import 'dashboard/dashboard.scss';
@import 'get-started/get-started.scss';
@import 'main/main.scss';
@import 'meme-generator/meme-generator.scss';
@import 'navbar/navbar.scss';
@import 'scheduler/scheduler.scss';
// endinjector