$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables';
@import 'bourbon/dist/bourbon';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.tab-body > .container-fluid {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  padding: 15px;
}

.nav-tabs {

  &.nav-tabs-left {
    border: none;

    li {
      float: none;
      margin-bottom: 0;
      margin-right: -1px;

      & > a {
        margin-right: 0;
        margin-bottom: 2px;
        border-radius: 5px;

        &:hover {
          border-color: transparent;
        }
      }
    }

    li.active > a,
    li.active > a:focus,
    li.active > a:hover {
      border-color: #ddd;
      background-color: rgba(#dddddd, 0.1);
    }
  }

  &.nav-tabs-left {
    vertical-align: top;
  }
}