<div ng-if="!hideNavbar" ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="currentState !== 'app.main'">
  <ui-breadcrumbs
    displayname-property="data.breadcrumbTitle"
    abstract-proxy-property="data.breadcrumbProxy"
    template-url="app/breadcrumbs.html"></ui-breadcrumbs>
</div>

<div ui-view="content-header"></div>

<div class="template-content" ui-view="content" autoscroll="true"></div>

<footer class="footer">
  <p class="text-muted">
All Contents Copyright &copy; {{copyrightDate | date:'yyyy'}} HookupJS.
		<a href="http://www.hookupjs.com/">Home Page</a> -
		<a href="http://blog.hookupjs.com/about/">About</a> -
		<a href="http://blog.hookupjs.com/">Blog</a> -
		<a href="http://blog.hookupjs.com/privacy/">Privacy and Terms</a>
</p>

</footer>
