$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bourbon/dist/bourbon';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables';
@import 'font-awesome/scss/font-awesome';

/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.tab-body > .container-fluid {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  padding: 15px;
}

.nav-tabs {

  &.nav-tabs-left {
    border: none;

    & ~ .tabbody {
      border: none;
      width: auto;
      padding: 15px 3px 15px 15px;

      @media screen and (min-width: 768px) {
        width: 74%;
      }
    }

    li {
      float: none;
      margin-bottom: 0;
      margin-right: -1px;

      & > a {
        margin-right: 0;
        margin-bottom: 2px;
        border-radius: 5px;

        &:hover {
          border-color: transparent;
        }
      }
    }

    li.active > a,
    li.active > a:focus,
    li.active > a:hover {
      border-color: #ddd;
      background-color: rgba(#dddddd, 0.1);
    }
  }

  &.nav-tabs-left,
  &.nav-tabs-left ~ .tabbody {
    vertical-align: top;
  }
}