<div class="container-fluid">
  <div class="well well-danger" ng-if="validation && !showExisting">
    <div class="well-body" ng-if="validation.missingDetails">Your post is missing text.</div>
  </div>

  <div ng-show="existingRecords.length">
    <h4>Scheduled posts for this period</h4>

    <div class="list-group">
      <div class="list-group-item" ng-repeat="record in existingRecords">
        <button class="btn btn-default pull-right" ng-click="toggleShowingRecord(record)">
          <span class="glyphicon glyphicon-plus" ng-if="!record.isShowing"></span>
          <span class="glyphicon glyphicon-minus" ng-if="record.isShowing"></span>
        </button>
        <h4 class="list-group-item-head" ng-bind="record.scheduledFor | date:'short'"></h4>

        <div ng-if="record.loading">
          <p>Please wait, loading job information..</p>
        </div>

        <div ng-show="record.isShowing">
          <p ng-if="record.isUsersJob === false"><b>By:</b> <em>{{record.user.name}}</em></p>
          <p ng-if="record.detail.data.text"><b>Post Text:</b> {{record.detail.data.text}}</p>
          <p ng-if="record.detail.data.link"><b>Link:</b> {{record.detail.data.link}}</p>
          <p ng-if="record.detail.data.name"><b>Name:</b> {{record.detail.data.name}}</p>
          <p ng-if="record.detail.data.caption"><b>Caption:</b> {{record.detail.data.caption}}</p>
          <p ng-if="record.detail.data.description"><b>Description:</b> {{record.detail.data.description}}</p>
          <p ng-if="record.detail.data.media">
            <img ng-src="{{'/api/user-uploads/' + record.detail.data.media}}" width="100%" height="auto" />
          </p>

          <!-- <pre ng-bind="record|json"></pre> -->

          <button ng-hide="!!record.detail.lastFinishedAt||!record.isUsersJob" class="btn btn-warning" ng-click="cancelScheduledJob(record, $index)">Cancel this</button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="showExisting"><!-- the time-slot that we're adding to -->
    <dl class="col-xs-6">
      <dt>Date</dt>
      <dd>{{result.date | date:'mediumDate'}}</dd>
    </dl>
    <dl class="col-xs-6">
      <dt>Time slot</dt>
      <dd>{{result.period | schedulerPeriod}}</dd>
    </dl>
  </div>
  <div class="row" ng-hide="showExisting"><!-- the time-slot that we're adding to -->
    <div class="col-sm-12">
      <h3>Post Text</h3>
      <p class="text-muted">Enter the message you wish to have appear in your post.</p>
      <textarea class="fill" rows="6" placeholder="Post text here" ng-model="result.text"></textarea>
    </div>
  </div>
  <div class="row" ng-hide="showExisting"><!-- the time-slot that we're adding to -->
    <div class="col-sm-12">
      <h4>Link</h4>
      <input type="text" class="form-control" placeholder="http://" ng-model="result.link" />
    </div>
  </div>
  <div class="row" ng-hide="showExisting"><!-- the time-slot that we're adding to -->
    <div class="col-sm-12">
      <h4>Post Media</h4>
      <p class="text-muted">Upload an image or video to post along with your message.</p>

      <div ng-if="result.media.length">
        <div class="pull-right btn btn-sm btn-success" ng-click="result.media = undefined"><span class="glyphicon glyphicon-remove"></span> Remove</div>
        <label ng-bind="result.media[0].name"></label>
        <div class="clearfix"></div>
      </div>

      <button class="btn btn-primary" ng-file-select ng-model="result.media" accept="image/*">
        <span ng-if="!!result.media.length">Change file..</span>
        <span ng-if=" !result.media.length">Choose a file..</span>
      </button>
    </div>
  </div>
  <div class="row" ng-if="result.media.length"><!-- the time-slot that we're adding to -->
    <div class="col-sm-12">
      <h4>Meta Info</h4>
      <p class="text-muted">Extra media information to include in post</p>
      <input type="text" class="form-control" placeholder="Caption for media" ng-model="result.caption" />
      <input type="text" class="form-control" placeholder="Name for media" ng-model="result.name" />
      <textarea class="fill" rows="3" placeholder="Description for media" ng-model="result.description"></textarea>
    </div>
  </div>
</div>