<div class="container-fluid">
  <div>
    <h4>Posts that were run</h4>

    <div class="list-group">
      <div class="list-group-item" ng-repeat="record in existingRecords">
        <button class="btn btn-default pull-right" ng-click="toggleShowingRecord(record)">
          <span class="glyphicon glyphicon-plus" ng-if="!record.isShowing"></span>
          <span class="glyphicon glyphicon-minus" ng-if="record.isShowing"></span>
        </button>
        <h4 class="list-group-item-head" ng-bind="record.scheduledFor | date:'short'"></h4>

        <div ng-if="record.loading">
          <p>Please wait, loading job information..</p>
        </div>

        <div ng-show="record.isShowing">
          <p ng-if="record.isUsersJob === false"><b>By:</b> <em>{{record.user.name}}</em></p>
          <p ng-if="record.detail.data.text"><b>Post Text:</b> {{record.detail.data.text}}</p>
          <p ng-if="record.detail.data.link"><b>Link:</b> {{record.detail.data.link}}</p>
          <p ng-if="record.detail.data.name"><b>Name:</b> {{record.detail.data.name}}</p>
          <p ng-if="record.detail.data.caption"><b>Caption:</b> {{record.detail.data.caption}}</p>
          <p ng-if="record.detail.data.description"><b>Description:</b> {{record.detail.data.description}}</p>
          <p ng-if="record.detail.data.media">
            <img ng-src="{{'/api/user-uploads/' + record.detail.data.media}}" width="100%" height="auto" />
          </p>

          <!-- <pre ng-bind="record|json"></pre> -->
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>