<div class="container">

    <pre>adding: {{adding|json}}
uploading: {{uploading|json}}
upload: {{upload|json}}</pre>

  <div class="row">
    <scheduler
      datasource="scheduler"
      do-item-click="itemClick"
      do-item-classes="itemClasses"
      class="planner"></scheduler>

    <hr/>

    <div class="button-container">
      <button ng-click="scheduler.shiftPrevious()" ng-disabled="!scheduler.canShiftPrevious()" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-step-backward"></span>Last Week</button>
      <button ng-click="scheduler.shiftNext()" ng-disabled="!scheduler.canShiftNext()" class="pull-right btn btn-primary">Next Week<span class="glyphicon glyphicon-step-forward"></span></button>
      <div class="text-center">
        <button ng-click="scheduler.reloadData()" ng-disabled="scheduler.isLoading()" class="btn btn-primary">Reload</button>
      </div>
      <div class="clearfix"></div>
  </div>
</div>