<div class="container">
  <div class="row text-center" ng-show="scoringObject||fullLoading">
    <h3>Please wait..</h3>
    <p class="text-muted lead" ng-show="scoringObject">Loading information about this page.</p>
    <p class="text-muted lead" ng-show="fullLoading">Loading your personalized dashboard..</p>
  </div>

  <div class="row" ng-hide="scoringObject||fullLoading">
    <div class="col-sm-7">
      <h3>{{currentFbObject.name}}&nbsp;<div class="badge">{{currentFbObject.likes|number}} Likes</div>&nbsp;<small ng-if="currentFbObject.link"><a class="btn btn-default  btn-sm" ng-href="{{currentFbObject.link}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a></small>&nbsp;<small><a href class="btn btn-sm btn-default" ng-click="switchPage()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Switch page</a></small></h3>
    </div>

    <div class="col-sm-5 historical-score text-center">
      <p>Coming soon, some fancy charts of your score history.</p>
    </div>
  </div>

  <div ng-hide="scoringObject||fullLoading">
    <div ng-include="'app/dashboard/scheduler/scheduler.html'" ng-controller="DashboardSchedulerCtrl" ng-if="isDashboardHome()"></div>
    <div ui-view="dashboardView"></div>
  </div>
</div>