<div ng-init="resetFn(true)">
  <h2 ng-bind="title||'Password Form'" ng-hide="saving"></h2>
  <p class="text-muted" ng-hide="saving" ng-bind="description||'Password form description'"></p>

  <div class="well well-info" ng-if="saving">
    <em><span class="glyphicon glyphicon-time"></span> {{saveMessage||'Please wait, changing password..'}}</em>
  </div>
  <div class="well well-info" ng-show="loading">
    <em><span class="glyphicon glyphicon-time"></span> {{loadMessage||'Please wait, loading..'}}.</em>
  </div>

  <error-display
    error-title="loadError.statusText||loadErrorTitle||'Load Error'"
    error-message="loadError.data.message||loadErrorMessage||'Problem while loading..'"
    error-detail="loadError"
    ng-if="!loading && loadError"
  ></error-display>

  <error-display
    error-title="saveErrorTitle||'Save Error'"
    error-message="saveErrorMessage||'Problem while saving..'"
    error-detail="saveError"
    ng-if="!saving && saveError"
  ></error-display>

  <form class="container-fluid form" name="newgroup" ng-submit="saveFn(form)" ng-hide="loading||saving||loadError" novalidate>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>Current Password</label></dt>
        <dd>
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
        </dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>New Password</label></dt>
        <dd>
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">Password must be at least 3 characters.</p>
        </dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>Confirm New Password</label></dt>
        <dd>
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">Password must be at least 3 characters.</p>
        </dd>
      </dl>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr />

        <button class="btn btn-lg btn-default" type="submit">{{saveButton||'Save Password'}}</button>
        <button class="btn btn-lg btn-danger" type="button" ng-click="resetFn()">{{resetButton||'Reset'}}</button>
      </div>
    </div>
  </form>
</div>