<div ng-init="resetFn(true)">
  <h2 ng-bind="title||'Password Form'" ng-hide="submitting"></h2>
  <p class="text-muted" ng-hide="submitting" ng-bind="description||'Password form description'"></p>

  <div class="well well-info" ng-if="submitting">
    <em><span class="glyphicon glyphicon-time"></span> {{submitMessage||'Please wait, changing password..'}}</em>
  </div>

  <error-display
    error-title="submitErrorTitle||'Form Error'"
    error-message="submitErrorMessage||'Problem while submitting..'"
    error-detail="submitError"
    ng-if="!submitting && submitError"
  ></error-display>

  <form class="container-fluid form" name="passwordform" ng-submit="submitFn(passwordform)" ng-hide="submitting||loadError" novalidate>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>Current Password</label></dt>
        <dd>
          <input type="password" name="password" class="form-control" ng-model="model.oldPassword" mongoose-error/>
          <p class="help-block" ng-show="passwordform.password.$error.mongoose">{{ submitError.other }}</p>
        </dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt><label>New Password</label></dt>
        <dd>
          <input type="password" name="newPassword" class="form-control" ng-model="model.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(passwordform.newPassword.$error.minlength || passwordform.newPassword.$error.required) && (passwordform.newPassword.$dirty)">Password must be at least 3 characters.</p>
        </dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-sm-12 form-group">
        <dt>Confirm Password</dt>
        <dd><input type="PASSWORD" class="form-control" name="confirmPassword" required ng-model="model.confirmPassword" must-match="model.newPassword" /><p class="text-danger" ng-if="passwordform.confirmPassword.$error.matches">The passwords you supplied do not match</p></dd>
      </dl>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr />

        <button class="btn btn-lg btn-default" type="submit" ng-disabled="passwordform.$invalid">{{submitButton||'Save Password'}}</button>
        <button class="btn btn-lg btn-danger" type="button" ng-click="resetFn()">{{resetButton||'Reset'}}</button>
      </div>
    </div>
  </form>
</div>